/* minecraftTracker.css */

body {
  font-family: Arial, sans-serif;
  text-align: center;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1em;
}

main {
  padding: 2em;
  display: block; /* Ensure main content is visible */
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 0.5em;
  display: flex;
  justify-content: space-around;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
}

button:hover {
  background-color: #444;
}

footer button.active {
  background-color: #444; /* or any other highlighted color */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* optional */
}

/* Fixed buttons */
.fixed-buttons {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.fixed-buttons button {
  margin-bottom: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
}

/* Overlay popups */
.overlay-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.popup-content {
  position: relative;
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.grid-container img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}
